.clock{
    grid-row:3/4;
    grid-column: 2/10;
    align-self: end;

    background-color: $color-grey-one;

    height: 75%;
    width:100%;
    text-align: left;
    align-self: end;


    clip-path: polygon(7% 0,100% 0,93% 100%, 0% 100%);
    -webkit-clip-path:polygon (7% 0,100% 0,93% 100%, 0% 100%);
    
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;

    padding-right:200px;
    padding-left: 200px;
   

    &__box{
        margin-top: 24px;
        display: flex;
        flex-direction: column;

    }

    &__title{
        text-align: left;
        font-size: 22px;
        line-height: 25px;
        color: $color-yellow-one;
        font-family:  $font-robot;
    }
    &__amount{
        text-align: left;
        font-size: 90px;
        font-weight: bold;
        line-height: 115px;
        color: white;
        font-family:  $font-robot;

    }
}